.chat
    display: flex
    flex-direction: column
    flex: 1
    background-color: #363a3f
    height: 100vh

.chat__messages
    flex: 1
    overflow: scroll

.chat__empty
    display: flex
    justify-content: center
    align-items: center
    color: gray
    text-align: center
    h3
        margin-bottom: 10px

.chat__toBottomBtn
    color: gray
    width: 40px
    height: auto
    position: fixed
    right: 30px
    bottom: 100px
    z-index: 5
    &:hover
        transform: scale(1.1)
        color: lightgray
    
.chat__input
    color: lightgray
    display: flex
    align-items: center
    justify-content: space-between
    padding: 10px 15px
    border-radius: 5px
    margin: 20px
    border-top: 1px solid gray
    background-color: #474b53

    svg
        width: 25px
        height: auto

    form
        flex: 1
        padding-left: 10px
        input
            width: 100%
            background: transparent
            border: none
            color: white
            font-size: larger

.chat__inputBtn
    display: none

.chat__inputIcons svg
    padding: 5px